---
import Button from "../shared/components/Button.astro";
import Description from "../shared/components/Description.astro";
import BlockTitle, {
  BlockTitleType,
} from "../shared/components/BlockTitle.astro";
import { MAIN_SECTION_DATA } from "../shared/data/mainSectionData";
import { MODAL_DATA } from "../shared/data/modal_data";
import toolImage from "../assets/tool/tool.png";
---

<section class="main_section_container">
  <section class="main_sub_section">
    <img class="tool_img" src={toolImage.src} alt="tool which is saling" />
    <BlockTitle
      type={BlockTitleType.MAIN}
      title={MAIN_SECTION_DATA.BLOCK_TITLE}
    />
    <Description>
      {MAIN_SECTION_DATA.DESCRIPTION}
    </Description>
    <footer class="main_footer">
      <Button data-modal-trigger={MODAL_DATA.CONTACT_MODAL_ID}
        >{MAIN_SECTION_DATA.BUTTON_TITLE}</Button
      >
    </footer>
  </section>
</section>

<style>
  .main_section_container {
    padding: 40px 0 0;
    overflow-x: clip;
  }

  .main_sub_section {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 85%;
    background-image: url("../assets/backgroundSecondary.png");
    background-size: cover;
    padding: 20px 10%;
    position: relative;
    border-radius: 8px;
    box-shadow: 4px 3px 6px 0 rgba(80, 78, 78, 0.6);
  }

  .tool_img {
    position: absolute;
    height: 125%;
    right: -220px;
    top: -60px;
  }

  .main_footer {
    margin: 40px 0;
  }

  @media (max-width: 1024px) {
    .tool_img {
      right: -120px;
      top: -20px;
    }

    .main_footer {
      margin: 30px 0;
    }
  }

  @media (max-width: 660px) {
    .main_section_container {
      padding: 0;
    }

    .main_sub_section {
      width: 100%;
      padding: 25px 5%;
    }

    .tool_img {
      top: 0;
      height: 100%;
      right: -25px;
    }

    .main_footer {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @media (max-width: 450px) {
    .tool_img {
      top: 30px;
      height: 75%;
      right: -25px;
    }
  }
</style>
