---

import ToolOptionCard from "../components/ToolOptionCard.astro";
import VideoEmbed from "../shared/components/VideoEmbed.astro";
import { MEDIA_SECTION_DATA,TOOL_OPTIONS } from "../shared/data/mediaSectionData";
import { MODAL_DATA } from "../shared/data/modal_data";

interface Props {
  isBY: boolean;
}
const{isBY}=Astro.props


---

<section class="media_section">
  {MEDIA_SECTION_DATA.VIDEOS_ID.map((id) => <VideoEmbed videoId={id} />)}
  <div class="tool_options_container" id="tool_options">
  {TOOL_OPTIONS.map(
    ({toolName, toolDescription,options, image}) => (
      <ToolOptionCard
        image={image}
        name={toolName}
        description={toolDescription}
        options={options}
        buttonText={MEDIA_SECTION_DATA.BUTTON_TITLE}
        modalId={MODAL_DATA.CONTACT_MODAL_ID}
        isBY={isBY}
      />
    )
  )}
  </div>
  <footer class="media_footer">
    {MEDIA_SECTION_DATA.COMPANY_NAME}
    <br />
    {MEDIA_SECTION_DATA.LOCATION_TIME}
  </footer>
</section>

<style>
  :global(.tool_options_container > .tool_option_card_container:nth-child(even)) {
    flex-direction: row-reverse;
  }
  .media_section {
    padding: 40px 5%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .media_footer {
    text-align: center;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    margin-top: 20px;
  }
</style>
