---
import BlockTitle, {
  BlockTitleType,
} from "../shared/components/BlockTitle.astro";
import ReasonCard from "../shared/components/ReasonCard.astro";
import { REASON_SECTION_DATA } from "../shared/data/reasonSectionData";
import toolImage from "../assets/tool/tool2.png";
---

<section class="reasons_section">
  <img class="tool_img" src={toolImage.src} alt="image with product for sale" />
  <BlockTitle
    type={BlockTitleType.REASONS}
    title={REASON_SECTION_DATA.BLOCK_TITLE}
  />
  <section class="reasons_container">
    {
      REASON_SECTION_DATA.REASONS_LIST.map((reason) => (
        <ReasonCard title={reason.title} content={reason.content} />
      ))
    }
  </section>
</section>

<style>
  .reasons_section {
    width: 100%;
    background-image: url("../assets/backgroundSecondary.png");
    background-size: cover;
    padding: 20px 10%;
    position: relative;
    border-radius: 4px;
    box-shadow: 4px 4px 5px 0 rgba(80, 78, 78, 0.6);
  }

  .reasons_container {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    gap: 30px;
    margin-top: 40px;
  }

  .tool_img {
    position: absolute;
    height: 80%;
    right: 0;
    top: 5%;
  }
  @media (max-width: 1400px) {
    .tool_img {
      opacity: 0.7;
    }
  }

  @media (max-width: 1024px) {
    .tool_img {
      height: 70%;
      top: 20%;
      opacity: 0.5;
    }

    .reasons_container {
      align-items: center;
    }

    .reasons_section {
      padding: 40px 3%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @media (max-width: 660px) {
    .tool_img {
      height: 50%;
      top: 30%;
    }
  }
</style>
