---
import Button from "../shared/components/Button.astro";

interface ToolOptionCardProps {
  RU: number;
  BY: number;
}
interface ToolOption {
  text: string;
  price: ToolOptionCardProps;
}

interface Props {
  image: ImageMetadata;
  name: string;
  description: string;
  options: ToolOption[];
  buttonText: string;
  modalId: string;
}

const { image, name, description, options, buttonText, modalId } = Astro.props;
---

<div class="tool_option_card_container">
  <div class="tool_description">
    <img
      class="tool_img"
      src={image.src}
      width={image.width}
      height={image.height}
      alt="image with product option for sale"
      loading="lazy"
      decoding="async"
    />

    <div class="tool_title_container">
      <div class="tool_name">{name}</div>
      <div class="tool_desc">{description}</div>
    </div>

    <div class="tool_options">
      {
        options.map((option, index) => (
          <span class="tool_option_text">
            {index + 1}. {option.text} –{" "}
            <span
              class="tool_option_price"
              data-only="by"
              style="display: none;"
            >
              {option.price.BY} BYN
            </span>
            <span class="tool_option_price" data-only="other">
              {option.price.RU} RUB
            </span>
          </span>
        ))
      }
    </div>

    <div class="tool_action">
      <Button data-modal-trigger={modalId} data-modal-name={name} isCentered>
        {buttonText}
      </Button>
    </div>
  </div>
</div>

<style>
  .tool_option_card_container {
    margin-top: 80px;
    @media screen {
      @media (max-width: 660px) {
        margin-top: 40px;
      }
    }
  }

  .tool_description {
    display: grid;
    grid-template-columns: auto minmax(0, 700px);
    grid-template-areas:
      "image title"
      "image options"
      "image action";
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    row-gap: 60px;
    @media screen {
      @media (max-width: 1200px) {
        grid-template-columns: minmax(0, 700px);
        grid-template-areas:
          "title"
          "image"
          "options"
          "action";
        row-gap: 20px;
      }
      @media (max-width: 660px) {
        row-gap: 10px;
      }
    }
  }

  .tool_option_card_container:nth-child(even) .tool_description {
    grid-template-columns: minmax(0, 700px) auto;
    grid-template-areas:
      "title image"
      "options image"
      "action image";
  }

  .tool_title_container {
    grid-area: title;
    display: flex;
    align-items: center;
    gap: 40px;
    @media screen {
      @media (max-width: 860px) {
        flex-direction: column;
        gap: 20px;
      }
    }
  }

  .tool_name {
    font-weight: 700;
    font-size: 70px;
    text-transform: uppercase;
    color: #b05aae;
    @media screen {
      @media (max-width: 660px) {
        font-size: 40px;
      }
    }
  }

  .tool_desc {
    font-weight: 400;
    font-size: 25px;
    text-transform: uppercase;
    color: #000;
    max-width: 600px;
    text-wrap: balance;

    @media screen {
      @media (max-width: 660px) {
        font-size: 18px;
      }
      @media (max-width: 400px) {
        font-size: 16px;
      }
    }
  }

  .tool_options {
    grid-area: options;
    position: relative;
    margin: 30px 0 40px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 40px 20px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(10, 10, 207, 0.3);
    max-width: 700px;
  }

  .tool_option_text {
    font-size: 24px;
    text-transform: uppercase;
    color: #080808;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
    text-wrap: balance;
    @media screen {
      @media (max-width: 660px) {
        font-size: 18px;
      }
    }
  }

  .tool_option_price {
    font-weight: 500;
    font-size: 24px;
    color: #b05aae;
  }

  .tool_action {
    grid-area: action;
    display: flex;
    justify-content: center;
  }

  .tool_img {
    grid-area: image;
    width: 400px;
    height: 625px;
    object-fit: contain;
    @media screen {
      @media (max-width: 1200px) {
        width: 300px;
        height: 500px;
        justify-self: center;
      }
      @media (max-width: 660px) {
        width: 200px;
        height: 350px;
      }
    }
  }

  @media (max-width: 1200px) {
    .tool_option_card_container:nth-child(even) .tool_description {
      grid-template-columns: minmax(0, 700px);
      grid-template-areas:
        "title"
        "image"
        "options"
        "action";
    }
  }
</style>
